.container {
  margin: 0 auto;
  padding: 32px 24px;
  width: 80%;
  height: 100%;
}

.box {
    width: 200px;
    height: 200px;
    margin: 10px;
    background: rgb(11, 185, 58);
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #stagger-container{
    display: flex;
  }